<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<ng-template #errorTemplate>
  <div class="error-container">
    <mat-card class="color-card">
      <mat-card-title>Error</mat-card-title>
      <mat-card-content>
        <p>{{ errorMessage }}</p>
        <button mat-flat-button color="warn" (click)="retryLoad()">Reintentar</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<div *ngIf="isLoading; else content">
  <ng-container *ngTemplateOutlet="divLoading"></ng-container>
</div>

<ng-template #content>
  <div *ngIf="anun; else errorTemplate" class="form-prod grid p-2">


    <div class="container">

      <div class="carousel-container">
        <div class="image-container">
          <!-- Mostramos la imagen activa o la alternativa si no hay fotos -->
          <ng-container *ngIf="anun.photos && anun.photos.length; else noImage">
            <img *ngFor="let photo of anun.photos; let i = index" [src]="photo" alt="Imagen del producto"
              class="ad-photo" [class.active]="i === currentIndex" />
          </ng-container>
          <!-- Plantilla para imagen alternativa -->
          <ng-template #noImage>
            <img src="assets/logo.jpg" alt="Imagen no disponible" class="ad-photo" />
          </ng-template>
        </div>

        <!-- Botones de navegación -->
        <button class="prev" (click)="changeImage(-1)" *ngIf="anun.photos && anun.photos.length">
          &#10094;
        </button>
        <button class="next" (click)="changeImage(1)" *ngIf="anun.photos && anun.photos.length">
          &#10095;
        </button>
      </div>

      <mat-card class="card">
        <mat-card-content>
          <mat-card-title class="title">
            <b>{{ anun.title }}</b>
          </mat-card-title>

          <mat-list>
            <p><b>Ref. </b>{{ anun.id_ad }}</p>
            <p *ngIf="anun?.type_ad == 'PRODUCT'"><b>Tipo: </b>Producto</p>
            <p *ngIf="anun?.type_ad == 'SERVICE'"><b>Tipo: </b>Servicio</p>
            <p *ngIf="anun.type_ad == 'PRODUCT'">
              <b>Estado:</b> {{ anun.condition ? anun.condition : 'No especificado' }}
            </p>

            <p><b>Categoría: </b>{{ anun.category }}</p>
            <p><b>Descripción: </b>{{ anun.description }}</p><br><br>
            <p class="precio"><b>Precio: </b>{{ anun.price | currency:'EUR':'symbol' }}</p>
          </mat-list>

          <div class="button-container">
            <button mat-flat-button color="warn" (click)="regresar()">Regresar</button>
            <button mat-flat-button color="primary" (click)="comprar()">Comprar</button>
          </div>

          <p class="mt-2"><b>Vendido por: </b>{{ anun.creator?.username }}</p>
          <button mat-flat-button (click)="openChat()">
            Chatear con el vendedor
          </button>

          <!-- Ventana flotante del chat -->
          <app-chat *ngIf="chatOpen" [receiverId]="selectedReceiverId" [receiverUsername]="selectedReceiverUsername"
            (closeChat)="closeChat()">
          </app-chat>




        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
