.spacer {
  flex: 1 1 auto; /* Espaciador flexible para empujar los elementos a los extremos */
}

.top-bar {
  height: 64px; /* Ajusta el alto de la barra superior */
  background-color: #aad5dc;
  display: flex; /* Cambiar a flexbox para centrar elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.logo {
  width: 200px; /* Ajusta el ancho del logo según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 16px; /* Espacio a la derecha del logo */
}

.nav-bar {
  justify-content: left; /* Centra los botones del menú de navegación */
  background-color: #aad5dc;
}

mat-toolbar {
  padding: 0 16px; /* Ajusta el espaciado interno del toolbar */
}

button[mat-button] {
  margin: 0 10px; /* Espaciado entre los botones del menú */
  font-size: 16px; /* Ajusta el tamaño de la fuente en los botones */
}
