<div class="contenedor">
  <!-- Perfil de usuario -->
  <div class="user-profile">
    <div class="photo-upload">
      <p class="text-center">{{ usuario?.name }}</p>
      <div class="photo-card">
        <img *ngIf="photoPreview" [src]="photoPreview" alt="Foto de perfil" class="profile-photo" />
        <p *ngIf="!photoPreview">Sin Foto</p>
      </div>

      <div class="change-photo-button mt-3" *ngIf="photoPreview">
        <button mat-button color="primary" (click)="selectFile()">Cambiar Foto</button>
      </div>

      <div *ngIf="!photoPreview || isFileSelected" class="upload-controls">
        <form (ngSubmit)="uploadPhoto()" #photoForm="ngForm">
          <input type="file" (change)="onFileSelected($event)" name="photo" required class="file-input" />
          <button mat-button color="primary" type="submit" [disabled]="!selectedFile || !photoForm.form.valid">
            Subir Foto
          </button>
        </form>
      </div>

      <div class="buttons">
        <button mat-button color="primary" (click)="modificarDatos()">
          Modificar Datos
        </button>
        <button mat-button color="warn" (click)="deleteUser()">
          Baja cuenta
        </button>
      </div>
    </div>
  </div>

  <!-- Anuncios -->
  <div class="ads-section">
    <h4 class="text-center">Tus Anuncios</h4>
    <div class="nav-bar button mb-3">
      <button mat-flat-button color="primary" class="buttons" (click)="userCreateAd()">
        Agregar Anuncio
      </button>
    </div>
    <div class="flex-container">
      <app-user-Card *ngFor="let ad of ads" [ad]="ad" [onDeleteAd]="deleteAd" [onModifyAd]="modificarAnuncio" class="card-user">
      </app-user-Card>
    </div>
  </div>

  <div class="chat-section">
    <h3>Tus Chats</h3>

    <!-- Lista de Chats -->
    <div class="chat-list">
      <div *ngFor="let chat of chats$" (click)="selectChat(chat)" class="chat-item">
        <p>Chat con {{ chat.chatId.replace(usuario?.username, '').replace('_', '') }}</p>
      </div>
    </div>

    <!-- Ventana de Conversación -->
    <div *ngIf="selectedChat" class="chat-window">
      <h4>Conversación con {{ selectedChat.chatId.replace(usuario?.username, '').replace('_', '') }}</h4>

      <!-- Mensajes -->
      <div class="messages">
        <div *ngFor="let message of selectedChat.messages"
             [class.sent]="message.senderId === usuario?.username"
             [class.received]="message.senderId !== usuario?.username">
          <p>{{ message.content }}</p>
        </div>
      </div>


      <!-- Input de Nuevo Mensaje -->
      <div class="chat-input">
        <textarea [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." rows="2"></textarea>
        <button mat-button (click)="sendMessage()">Enviar</button>
      </div>
    </div>
  </div>


<mat-paginator
  [length]="totalLength"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)"
  aria-label="Select page">
</mat-paginator>
