/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-paginator {
  --mat-paginator-container-background-color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;

}
.mat-mdc-paginator-container {
  justify-content: center !important;
}

.btn-primary{
  background-color: #005cbb !important;
  border-color: #005cbb !important ;
}

.mat-mdc-card-outlined {
border-color: white !important;;

}

.mat-mdc-card-content {
  padding: 0 !important; /* Elimina el padding */
}
mat-mdc-card-content:first-child {
  padding-top: 0 !important;
}

mat-card.mat-mdc-card.mdc-card.card.mat-mdc-card-outlined.mdc-card--outlined.ng-star-inserted{
  padding-top: 0 !important;
}


