.card {
  width: 100%; /* Permite que el contenedor se adapte */
  max-width: 350px; /* Ajusta este valor según tu diseño */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  border-radius: 10px;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.title {
  text-align: center;
  margin-top: 10px;
}

.header-image {
  background-image: url('../../../assets/logo.jpg');
  background-size: cover;
}

.image-container {
  width: 100%;
  max-height: 200px; /* Ajusta la altura máxima para evitar que se salga */
  aspect-ratio: 1 / 1; /* Mantiene la imagen cuadrada */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.ad-photo, img[mat-card-image] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.user-name{
  font-size: 12px;
  margin-top: 5px;
  text-align: start;
}
@media (max-width: 992px) {
   .card {
    flex: 1 1 calc(50% - 20px); /* Dos tarjetas por fila en tabletas */
  }
}

@media (max-width: 576px) {
   .card {
    flex: 1 1 100%; /* Una tarjeta por fila en móviles */
    height: auto; /* Permite que la altura se ajuste al contenido */
  }

  .image-container {
    height: 150px; /* Ajustar altura de las imágenes para pantallas pequeñas */
  }



}

