<mat-card *ngIf="ad; else noProduct" class="card" appearance="outlined" [routerLink]="['/adspecific', ad.id_ad]">

  <mat-card-content>
       <div class="image-container">
      <ng-container *ngIf="ad?.photos?.length; else noPhotos">
        <img *ngFor="let photo of ad.photos" [src]="photo" alt="Imagen del producto" class="ad-photo" />
      </ng-container>

      <ng-template #noPhotos>
        <img src="favicon.ico" alt="Imagen predeterminada" class="ad-photo" />
      </ng-template>
    </div>

    <mat-card-subtitle class="title">{{ ad.title }}</mat-card-subtitle>
    <p class="mt-3 text-center">{{ ad.price | currency: 'EUR':'symbol' }}</p>
    <!-- <p>{{ ad.type_ad == 'PRODUCT' ? 'Estado: ' + ad.condition : '' }}</p> SOLO SE MUESTRA LA CONDICION SI ES UN PRODUCTO-->
    <p>{{ad.id_user}}</p>


  </mat-card-content>
  <div >
    <p class="user-name">Vendido por: {{ad.creator?.username}}</p>
  </div>
</mat-card>

<ng-template #noProduct>
  <p>No hay producto disponible</p>
</ng-template>

