<footer>
  <mat-toolbar color="primary" class="footer-toolbar"> <!-- Usamos MatToolbar para el footer -->
    <span>&copy; 2024 Mi Aplicación Angular. Todos los derechos reservados.</span>

    <span class="spacer"></span> <!-- Espacio flexible para alinear los elementos -->

    <!-- Iconos sociales con Angular Material -->
    <a href="https://facebook.com" target="_dark" mat-icon-button>
      <mat-icon>facebook</mat-icon>
    </a>
    <a href="https://twitter.com" target="_dark" mat-icon-button>
      <mat-icon>twitter</mat-icon>
    </a>
    <a href="https://instagram.com" target="_dark" mat-icon-button>
      <mat-icon>instagram</mat-icon>
    </a>
  </mat-toolbar>
</footer>
